{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<!-- Contact-->
	<div class="container-fluid" style="margin-top:30px">

		<div class="row row-cols-1 row-cols-md-3 g-4">

			<div class="col">
				<div class="card h-100 shadow text-center">
					<div class="card-body">
						<i class="fas fa-map-marked-alt text-primary mb-2"></i>
						<h6 class="text-uppercase m-0">Addresse</h6>
						<hr class="my-2 mx-auto"/>
						<p class="text-black">Association d'Ici &amp; d'Ailleurs</p>
						<p class="text-black">28 rue des acacias</p>
						<p class="text-black">91400 Saclay</p>
						<p class="text-black">France</p>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card h-100 shadow text-center">
					<div class="card-body">
						<i class="fas fa-mobile-alt text-primary mb-2"></i>
						<h6 class="text-uppercase m-0">Téléphone</h6>
						<hr class="my-2 mx-auto"/>
						<p class="small text-black">+33 620747427</p>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card h-100 shadow text-center">
					<div class="card-body">
						<i class="fas fa-envelope text-primary mb-2"></i>
						<h6 class="text-uppercase m-0">Email</h6>
						<hr class="my-2 mx-auto"/>
						<p class="text-black">
							<a href="#!">contact@icietdailleurs.fr</a>
						</p>
					</div>
				</div>
			</div>

		</div>

	</div>

{% endblock %}
