{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card card-signin my-3">
					<div class="card-body">

						{{ form_start(resetForm) }}
						{{ form_row(resetForm.plainPassword) }}
						<button class="btn btn-primary">Valider</button>
						{{ form_end(resetForm) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
