{% extends 'admin/admin_base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

	<div class="container-fluid">

		<div class="row justify-content-center pb-4">
			<div class="col-md-8 text-center">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title text-primary">Admin</h2>

						<a href="{{ path('admin_post_list') }}">
							<button type="button" class="btn btn-outline-primary btn-lg">Articles</button>
						</a>
						<a href="{{ path('admin_user_list') }}">
							<button type="button" class="btn btn-outline-primary btn-lg">Utilisateurs</button>
						</a>
						<a href="">
							<button type="button" class="btn btn-outline-primary btn-lg">Agenda</button>
						</a>
						<a href="">
							<button type="button" class="btn btn-outline-primary btn-lg">Boîte à idées</button>
						</a>
						<a href="">
							<button type="button" class="btn btn-outline-primary btn-lg">Albums</button>
						</a>
						<a href="">
							<button type="button" class="btn btn-outline-primary btn-lg">Bureau</button>
						</a>
						<a href="{{ path('admin_category_list') }}">
							<button type="button" class="btn btn-outline-primary btn-lg">Catégories</button>
						</a>

					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="card-columns">

				<a href="{{ path('admin_post_list') }}" class="card bg-primary">
					<div class="card-body text-center">
						<p style="color:white" class="card-text">Some text inside the first card</p>
					</div>
				</a>

			</div>

		</div>
	</div>

</div>{% endblock %}
