{% extends 'admin/admin_base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h2>Cards Columns</h2>

		<div class="row justify-content-center pb-4">
			<div class="col-md-8 text-center">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title text-primary">Admin</h2>

						<a href="">
							<button type="button" class="btn btn-outline-primary btn-lg">Utilisateur</button>
						</a>

						<a href="{{ path('admin_category_list') }}">
							<button type="button" class="btn btn-outline-primary btn-lg">Catégories</button>
						</a>
						<a href="{{ path('admin_post_list') }}">
							<button type="button" class="btn btn-outline-primary btn-lg">Articles</button>
						</a>
						<a href="">
							<button type="button" class="btn btn-outline-primary btn-lg">Agenda</button>
						</a>
						<a href="">
							<button type="button" class="btn btn-outline-primary btn-lg">Annonces</button>
						</a>

					</div>
				</div>
			</div>
		</div>

		<div class="card-columns">

			<a href="{{ path('admin_post_list') }}" class="card bg-primary">
				<div class="card-body text-center">
					<p style="color:red" class="card-text">Some text inside the first card</p>
				</div>
			</a>

			<div class="card bg-warning">
				<div class="card-body text-center">
					<p class="card-text">Some text inside the second card</p>
				</div>
			</div>
			<div class="card bg-success">
				<div class="card-body text-center">
					<p class="card-text">Some text inside the third card</p>
				</div>
			</div>
			<div class="card bg-danger">
				<div class="card-body text-center">
					<p class="card-text">Some text inside the fourth card</p>
				</div>
			</div>
			<div class="card bg-light">
				<div class="card-body text-center">
					<p class="card-text">Some text inside the fifth card</p>
				</div>
			</div>
			<div class="card bg-info">
				<div class="card-body text-center">
					<p class="card-text">Some text inside the sixth card</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
