{# <footer class="footer mt-auto py-3 bg-light">
	<div class="container">
			<div class="small text-center text-muted fst-italic">Association d'Ici &amp; d'Ailleurs. 2021</div>
	</div>
</footer> #}

<div class="mt-5 p-2 bg-dark text-white text-center">
	<p>Footer</p>
</div>

{# <div class="mt-5 p-2 bg-dark text-white text-center" style="position: absolute; bottom: 0; width: 100%; height: 60px; background: #000000; color: #FFFFFF;">
  <p>Footer</p>
</div> #}

{# <footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer> #}
