<div class="container-fluid" style="margin-top:80px">

	{# <div class="mt-5 p-2 text-white text-center" style="background: #5F9EA0">
				<h1>My First Bootstrap 5 Page</h1>
				<p>Resize this responsive page to see the effect!</p>
			</div> #}

	<!-- Footer-->
		<footer class="border-top"> <div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="small text-center text-muted fst-italic">&copy; Asso. VAM 2021
						<a href="#!">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>
