<div class="container-fluid" style="margin-top:80px">

	<div class="mt-5 p-2 bg-dark text-white text-center">
		<p>Footer</p>
	</div>

	{# <div class="p-2 bg-info text-white text-center">
		<h1>My First Bootstrap 5 Page</h1>
		<p>Resize this responsive page to see the effect!</p>
	</div> #}

</div>
