<!-- Page Header-->
<header>
	<div class="container-fluid text-center">
		<div class="jumbotron">
			<h6>Message de bienvenue</h6>
			<span>Un texte court de présentation de l'association sans dépasser trois lignes. 
																				Si besoin d'en dire plus, faire un lien ou un renvoi vers une page spécifique.
			</span>
		</div>
	</div>
</header>
