<!-- Page Header-->
<div class="p-2 text-white text-center" style="background: #5F9EA0">
	<h1>Bienvenue</h1>
	<p>Association Village Aourir Ath menguelet</p>
</div>

<!-- image responsive -->
{# <div class="card mb-3">
  <img src="{{ asset('assets/images/refletsoleil.jpg') }}" class="card-img-top" alt="..." class="h-5" alt="wild landscape">
</div> #}
