<!-- Page Header-->
<div class="p-2 text-white text-center" style="background: #5F9EA0">
  <h1>My First Bootstrap 5 Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>

{# <div class="p-2 text-white text-center" style="background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)"> #}
{# <div class="p-2 text-white text-center">
  <img src="{{ asset('assets/images/img_snow_wide.jpg') }}" style="width:100%;height:150px;">
</div> #}
