<!-- Page Header-->
<header>
	<div class="container-fluid text-center">
		<div class="jumbotron">
			<h4>Message de bienvenue</h4>
			<span>Un texte court de présentation de l'association sans dépasser trois lignes. Si besoin d'en dire plus, 
											faire un lien ou un renvoi vers une page spécifique.
			</span>
		</div>
	</div>
</header>
